{% load static %}
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in</title>
    <link rel="stylesheet" href="{% static '/css/reset_password.css' %}">
    <script src="https://kit.fontawesome.com/0c4d6ce46a.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <a href="/"><img src="{% static '/images/Logo.svg' %}" alt="logo"></a>
        <div class="navlink">
            <a href="register">Don't have an account?</a>
            <a href="register"><button>Sign up</button></a>
        </div>
    </nav>
    <main>
        <div class="signin-illustration">
            <img src="{% static '/images/Man logging into his account on phone.png' %}" alt="illustration">
        </div>
        <div class="signin-text">
            <form method="POST">
                {% csrf_token %}
                <h1>Welcome back!</h1>
                <div>
                    {% for message in messages %}
                   <h3 style="text-align:center; color:#721121;"> {{message}}</h3>
                   {% endfor %}
               </div>
                <div class="input-container">
                    <label for="old_password">Old Password</label>
                    <input type="password" name="old_password" id="old_password"  required>
                </div>
                <div class="input-container">
                    <label for="new_password1">New Password</label>
                    <input type="password" name="new_password1" id="new_password1" required>
                    
                </div>
                <div class="input-container">
                  <label for="new_password2">New Password</label>
                  <input type="password" name="new_password2" id="new_password2" required>
                  
              </div>
                
                <button>Sign In</button>
            </form>
           
            <p class="terms">By signing up ,you agree to our <a href="#"> Terms of Service</a> and have read and acknowledge our <a href="#">Privacy Policy</a></p>
        </div>
    </main>
</body>
</html>--->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link rel="stylesheet" href="reset_password.css">
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static '/css/header.css' %}">
    <link rel="stylesheet" href="{% static '/css/reset_password.css' %}">

    <!--GOOGLE FONT-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Montserrat:ital,wght@0,100;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>

    <!--CHANGE PASSWORD-->
    
    <!--NAVBAR-->
    <header>
      <nav>
        <div class="mobile-menu">
            <div class="logo-container">
                <a href="/"><img src="{% static '/assets/Logo.svg' %}" alt="logo" class=""></a>
            </div>
            <a href="" class="hamburger" onclick="toggleMenu()">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </a>
        </div>
        
        <div class="add-btns">
            <div class="support-btn">
                <a href=""><img src="{% static '/assets/support-icon.svg' %}" alt="support icon">
                <span class="">Support</span>
                </a>
            </div>
            <div class="user-act-btn">
                <a href="profile">
                <img src="{% static '/assets/profile-circle.svg' %}" alt="profile icon">
                <span class="">{{ user.first_name }}</span>
                </a>
            </div>
        </div>
    </nav>
    <script>
      // Mobile reponsiveness
  let menu = document.querySelector('.hamburger');
  
  function toggleMenu() {
  let navBtns = document.querySelector('.nav-btns');
  
  if (((navBtns.style.display === 'flex')) && (navBtns.style.flexDirection !== 'column')){
      
      navBtns.style.display = 'none';
      console.log(true);
  }else{
      navBtns.style.display = 'flex';
      //addBtns.style.display = 'flex';
      console.log(false);
  }
  }
  
  menu.addEventListener('click', (e) => {
  e.preventDefault();
  // toggleMenu();
  });
  
  </script>
</header>
<br><br>
<main>
    <!--RESET PASSWORD SVG-->
    <div class="main">
        <div class="pana">
            <div class="img">
                <img src="{% static 'images/images/pana.svg' %}">
              </div>    
        </div>

        <!--CHANGE YOUR PASSWORD-->
        <div class="reset">
        
            <form method="POST">
                <div class="container">
                  <h3>Reset Password</h3>
                  {% csrf_token %}
                  <label for="old_password">Old Password</label>
                    <input type="password" name="old_password" id="old_password"  required>
                  
                    <label for="new_password1">New Password</label>
                    <input type="password" name="new_password1" id="new_password1" required>
                    
                    <label for="new_password2">Confirm Password</label>
                    <input type="password" name="new_password2" id="new_password2" required>
                  
                  <button type="submit"> <a href="#"> <h5>Confirm Reset</h5></a></button>
                  <label>
                </div>
                </div>
            </form>
        </div>
    </div>
</main>
      </body>
</html>