
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team page</title>
    <link rel="stylesheet" href="team.css">
    <style>
        /* TEAM PAGE */



 
    </style>
</head>
<body>
    
    <!--TEAM PAGE-->



</body>
</html>
{% extends 'base2.html' %}
{% block cs %}
/* NAVBAR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Exo;
}


#header{
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #ffffff;
    display: flex;
}

#header .logo{
    font-size: 28px;
    margin: 0;
    padding: 4px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    
      
}
#header .logo a, #header .logo a:hover {
    color: black;
    text-decoration: none;
}

.hero2{
    height: 180px;
    transition: all 0.5s;
    z-index: 997;
    margin-top: 60px;
    transition: all 0.5s;
    display: flex;
}

.hero2{
    font-size: 28px;
    margin: 0;
    padding: 4px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #85888a;
}

.team{
    text-align: center;
    font-size: 24px;
    position: relative;
}


/* PROFILE CARD */
.main{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
   
}

.profile-card{
    position: relative;
    font-family: sans-serif;
    width: 220px;
    height: 220px;
    background: #fff;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 25px;
     
    
}


.profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
  
}

.img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}

.caption{
    text-align: center;
    opacity:1;
    transition: .6s;
}

.caption h3{
    font-size: 21px;
    font-family: sans-serif;
}
.caption p{
    font-size: 15px;
    color: black;
    font-family: sans-serif;
    margin: 2px 0 9px 0;
}
.team-title{
  margin-top: 60px;
  text-align: center;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    padding: 0 0 30px 0;
    color: black;
    font-size: 14px;
}
   
  #footer .footer-info {
    padding: 60px 0 30px 0;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    text-align: left;

}

#footer .footer-info h4{
    color: blue;
}

   
#footer .copyright {
    text-align: center;
    padding-top: 30px;
}
#footer .credits {
    position: relative;
    justify-content: space-between;
    font-size: 13px;
    color: black;
    display: flex;
}

{% endblock cs %}
{% block content %}
<main>
      <div class="team-title">
        <h3>Team 78 Members</h3>
      </div>
  
  <div>
    <div class="main">
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
    </div>

    <div class="main">
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
    </div>

    <div class="main">
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
    </div>
</div>

<div>
    <div class="main">
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h5>Name</h5>
                <p>Track</p>
              </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
    </div>

    <div class="main">
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
    </div>

    <div class="main">
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
    </div>
</div>


<div>
    <div class="main">
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
    </div>

    <div class="main">
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="">
              </div>
              <div class="caption">
                <br>
                <h3>Name</h3>
                <p>Track</p>
              </div>
        </div>
    </div>
</div>
</main> 
{% endblock content %}
{% block footer %}
<footer id="footer" class="footer">
  <div class="footer-info">
    <div class="footer-why-us">
      <p>A short summary of what to do........</p>
      <h4> <strong> Why Team 78? </strong></h4>
    </div>

    <div class="solutions">
      <h3>Solutions</h3>
      <br>
      <p>Features</p>
      <p>Enterprise Offer</p>
      <p>Service Lab</p>
      <p>Partner with us</p>
    </div>

    <div class="company">
      <h3>Company</h3>
      <br>
      <p>About us</p>
      <p>Jobs</p>
      <p>Press</p>
      <p>Our carbon footprint</p>
      <p>Contact us</p>
    </div>

    <div class="resources">
      <h3>Resources</h3>
      <br>
      <p></p>
      <p>Blog</p>
      <p>Help center</p>
      <p>Academy</p>
      <p>Glossary</p>
      <p>Pluggins</p>
      <p>API docs</p>
      <p>Status</p>
      <p>Find an Expert</p>
      <p>Products Updates</p>
    </div>
  </div>
    <hr>

    <div class="copyright">
       <div class="credits">
        <p>&#169 2022******. All rights reserved</p>

        <p>Cookie Settings, Anti-Spam, Privacy, User agreement, Legal Notice and Responsible Disclosure</p>
       </div>
    </div>


  </div>
</footer>
{% endblock footer %}