@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

button{
    cursor: pointer;    
}

h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
}

h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

h5{
    line-height: 32px;
    font-weight: 600;
    font-size: 20px;
}

h6{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

p{
    line-height: 24px;
    font-size: 1rem;
}

body{
    color: #333;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

#landing-pg header{
    padding-top: 2rem;
    border:0 0 1px solid #a5a5a5;
}

#landing-pg header nav{
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: space-between;
    /* padding:0 120px; */
    width: 83%;
    margin: 0 auto;
}

#landing-pg header img{
    width: 64px;
    height: 64px;
}

#landing-pg nav ul {
    list-style: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 50%;
}

#landing-pg .nav-links li{
    list-style-type: none;
    
}

#landing-pg .nav-links a{
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    line-height: 24px;
}

#landing-pg .nav-links:last-child{
    padding-right: 40px;
}

#landing-pg .nav-btns{
    /* width: 17%; */
    display: flex;
    align-items: center;
}

#landing-pg .nav-btns a button{
    border: 2px solid #721121;
    border-radius: 8px;
    line-height: 32px;
    padding: 4px 1.5rem;
    font-size: 20px;
    font-weight: 600;
    padding: 4px 24px;
}

.nav-btns .btn-1{
    color: #721121;
    background-color: #fff;
    margin-right: 1rem;
}

.nav-btns .btn-2{
    color:#fff;
    background-color: #721121;
}

.hamburger{
    display: none;
}

/* Hero section */
.hero-section{
    width: 83%;
    margin: 9rem auto;
    display: grid;
    grid-template-areas: 'text img';
    gap: 80px;
}

.hero-section .hero-text{
    text-align: left;
    padding-right: 24px;
    grid-area: text;
    margin: 64px 0;
}

.hero-text h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.hero-text p{
    margin: 1rem 0 72px;
}

.hero-text a button, .our-services button, .about-us button, .unique button, .samples button{
    background-color: #721121;
    border-radius: 16px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    border: none;
}

.our-services button, .about-us button, .unique button, .samples button{
    padding: 1rem 2rem;
}

.hero-text a button{
    padding: 16px 84.5px;
}

.hero-img{
    grid-area: img;
}

/* Justification Section */

.justification{
    background-color: #ffc07f;
    padding: 148px 0;
    
}

.just-text{
    text-align: center;
    width: 83%;
    margin: 0 auto;
    color: #170307;
}

.just-text p{
    margin-top: 1rem;
    font-size: 1rem;
}

/* Our services */

.our-services{
    padding: 148px 0;
}

.services-container{
    width: 67%;
    text-align: center;
    margin:0 auto;
    padding-bottom: 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container h2{
    text-align: center;
    color: #170307;
}

.services-container .desc{
    margin: 1rem auto 56px;
}

.template-container{
    width: 83%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.template-container .template-card{
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    padding: 39px 24px ;
    margin-right: 24px;
    box-shadow: 0px 8px 30px rgba(80, 80, 80, 0.15);
}

.template-card img{
    width: 90px;
    height: 90px;
}

.template-card h4{
    padding: 2rem 0 0;
    text-align: center;
}

.template-container .template-card p{
    padding-top: 1rem;
}

/* How it works */
.how-it-works{
    width: 63%;
    margin: 0 auto;
}

.how-it-works h2{
    text-align: center;
}

.how-it-works .subheading{
    text-align: center;
    margin: 1rem auto 56px;
    font-size: 20px;
}

.how-it-works .frame-container{
    display: block;
}

.how-it-works .frame{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.how-it-works .frame img{
    width: 24px;
}

.how-it-works .frame p{
    margin-left: 25.62px;
    font-size: 20px;
}

.our-services a, .samples a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    text-decoration: none;
}

.our-services button{
    padding: 1rem 2rem;
}


/* About Us */
.about-us{
    background-color: #ffead4;
    padding: 148px 0;   
}

.about-container{
    display: flex;
    align-items: center;
    width: 83%;
    margin: 0 auto;
    justify-content: space-between;
}

.about-us h2{
    padding-bottom: 1rem;
}

.about-us .about-txt{
    text-align: justify;
    width: 510px;
}

.about-us .about-txt p{
    margin-bottom: 40px;
}

.about-us .about-img{
    width: 49%;
    height: 472px;
}

/* Policy Importance */

.importance{
    padding: 148px 0 176px;
}

.importance h2{
    text-align: left;
    padding: 58px 0 24px;
}

.importance-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 83.47%;
    margin: 0 auto;
}

.importance-container .about-txt{
    width: 43%;
    margin-bottom:58px;
}

.importance-img{
    width: 47%;
}

/* Unique section */
.unique{
    width: 69%;
    margin:0 auto 176px;
}

.unique h2{
    text-align: center;
    margin-bottom: 56px;
}

.unique h4{
    padding-bottom: 1rem;
}

.unique p{
    text-align: center;
}

.unique-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unique a, .samples a{
    text-decoration: none;
}

.unique-container{
    display: grid;
    grid-template-areas: 
    'easy updates'
    'customization policies';
    column-gap: 24px;
    row-gap: 72px;
    margin-bottom: 72px;
}

.unique-card .a{
    grid-area: easy;
}
.unique-card .b{
    grid-area: updates;
}
.unique-card .c{
    grid-area: customization;
}
.unique-card .d{
    grid-area: policies;
    
}

.unique-img{
    width: 80px;
    height: 80px;
    margin: 0 auto 2rem;
}

.unique a{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.unique button{
    margin: 0 auto;
}

/* See core features */

.tpl-samples{
    text-align: center;
    padding: 2rem;
}

.tpl-wrapper{
    display: grid;
    width: 75%;
    margin: 0 auto;
    grid-template-areas: 
    'tp1 tp2';
    gap: 88px;
}

.tpl{
    font-size: 3rem;
    height: 400px;
    border-radius: 10px;
    color: #f8f8f8;
    padding-top: 70px;
}

.t-1{
    grid-area: tp1;
}

.t-2{
    grid-area: tp2;

}

/* Some core features */

.core-ft h2{
    padding-bottom: 56px;
    text-align: center;
}

.feature-con{
    display: flex;
    align-items: center;
    width: 83%;
    margin: 0 auto 56px;
    justify-content: space-between;
}


.ft-txt{
    width: 51%;
    margin: 96px 0;
}

.ft-txt h3{
    margin: 0 0 24px;
}

/* Reviews */
.reviews{
    margin-bottom: 148px;
}

.reviews h2{
    padding-bottom: 56px;
    text-align: center;
}

.reviews .review-wrapper{
    display: flex;
    padding-left: 120px;
    justify-content: space-evenly;
}

.review-wrapper .review-card{
    width: 384px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    background-color:#d5a06a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    color: #fff;
    margin-right: 40px;
    position: relative;
}

.review-card .client-img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 24px;
}

.review-card h5{
    margin-bottom: 24px;
}

.review-card p{
    text-align: justify;
    margin-bottom: 40px;
    height: 120px;
}

.review-card .stars{
    /* position: absolute;
    bottom: 32px;
    left: 32px; */
    align-self: flex-end;
}

/* Footer */
footer{
    background-color: #721121;
    font-size: 14px;
    color: #fff;
    padding: 24px 0 0;
}

.footer-main, .footer-minor, .footer-divider{
    width: 81%;
    margin: 0 auto 40px;
}

.footer-main, .footer-links{
    display: flex;
    align-items: flex-start;
}

.footer-links{
    justify-content: space-evenly;
    
    width: inherit;
}

.footer-links h6{
    margin-bottom: 1rem;
}

.footer-links ul{
    list-style: none;
}

.footer-links ul li a{
    color: #fff;
    text-decoration: none;
}

.footer-minor{
    text-align: center;
    font-size: 12px;
}

.footer-minor p{
    font-size: 12px;
    padding-bottom: 8px;
}

.footer-just ul li{
    padding-bottom: 8px;
}

.footer-prd-sev ul li, .footer-who ul li{
    padding-bottom: 1rem;
}

.footer-minor p a{
    color: #fff;
}

.footer-links ul li a:focus, .footer-links ul li a:hover{
    text-decoration: underline;
}

/* Media Queries */

/* Mobile */
@media (max-width:769px){
    body{
        /* border: 1px dashed #212121; */
    }

    .hero-text h1{
        font-size: calc(32px + (48 - 32) * ((100vw - 300px) / (1440 - 300)));
        line-height: normal;
    }

    h2{
        font-size: calc(28px + (40 - 28) * ((100vw - 300px) / (1440 - 300)));
        line-height: normal;
    }

    .template-card h3, h3{
        font-size: calc(21px + (32 - 21) * ((100vw - 300px) / (1440 - 300)));
        line-height: normal;
    }

    h4{
        font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1440 - 300)));
        line-height: normal;
    }

    .hero-text a button, .our-services button, .about-us button, #landing-pg .nav-btns a button{
        font-size: 1rem;
    }

    p, .just-text p, .services-container .desc{
        font-size: 16px;
        line-height: 24px;
    }

    #landing-pg header{
        padding-top: 1rem;
    }

    #landing-pg header nav{
        padding: 0 20px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #landing-pg .nav-btns{
        flex-direction: column;
        width: fit-content;
        align-items: flex-start;
        padding: 0;
        display: none;
    }

    #landing-pg .nav-btns a button{
        margin-bottom: 1rem;
        padding: 2px 10px;
        line-height: normal;
    }

    .hamburger{
        width: 35px;
        height: 25px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .hamburger .bars{
        width: inherit;
        height: 3px;
        background-color: #212121;
        border-radius: 5px;
    }

    .hamburger .bars:last-child{
        align-self: flex-end;
    }

    .hamburger .bars:nth-child(odd){
        width: 65%;
    }


    .mobile-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: inherit;
    }
    
    #landing-pg nav ul{
        flex-direction: column;
        width: 100%;
        display: none;
        align-items: flex-start;
        /* visibility: hidden; */
    }

    #landing-pg nav ul{
        margin-bottom: .6rem;
    }
    
    .hero-section{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin: 5rem auto;
    }

    .hero-section, .services-container {
        width: 80%;
        height: auto;
    }
    
    .hero-section .hero-text {
        width: inherit;
        padding-right: 0;
    }

    .hero-img{
        height: 350px;
    }

    .our-services{
        padding: 72px 0;
    }

    .template-container, .feature-con{
        flex-direction: column;
    }
    
    .template-container .template-card{
        margin-right: 0 ;
        margin-bottom: 24px;
    }
    
    .tpl-wrapper{
        width: 100%;
    }

    .how-it-works .frame img{
        width: 45px;
    }

    .how-it-works .frame p {
        margin-left: 14px;
    }

    .how-it-works .frame-container{
        padding-left: 25px;
    }

    .about-us{
        padding: 27px 53px;
    }
    
    .about-container, .importance-container{
        flex-direction: column-reverse;
    }

    .about-us .about-txt{
        margin-top: 35px;
        margin-right: 0;
    }

    .importance{
        padding: 37px 57px;
    }

    .importance-img, .importance-container .about-txt{
        margin-left: 0;
        margin-bottom: 37px;
        width: 100%;
    }

    .unique-container{
        grid-template-areas: 
        'easy'
        'updates'
        'customization'
        'policies';
        gap: 47px;
    }

    .unique-card p{
        text-align: center;
    }

    .ft-txt p{
        padding:  0;
    }

    .ft-txt h3 {
        margin: 39px 0;
    }

    .core-ft h2{
        padding: 32px 0;
    }

    .feature-con:nth-of-type(even){
        flex-direction: column-reverse;
    }

    .tpl-wrapper{
        grid-template-areas: 
        'tp1'
        'tp2'
        'tp3'
        'tp4';
        gap: 29px;
    }
}