{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/profile.css' %}">
    <link rel="stylesheet" href="{% static '/css/footer.css' %}">
    <link rel="shortcut icon" href="{% static '/assets/Logo.svg' %}">
    <script src="https://kit.fontawesome.com/0c4d6ce46a.js" crossorigin="anonymous"></script>

    <title>Dashboard</title>
</head>
<body>
    <nav>
        <div class="logo-container">
            <img src="{% static '/assets/Logo_white.svg' %}" alt="logo" class="">
        </div>
        <div class="add-btns">
            <div class="support-btn">
                <a href=""><i class="fa-solid fa-comments"></i></a>
                <span class="">Support</span>
            </div>
            <div class="user-act-btn">
                <a href=""><img src="{% static '/assets/p.png' %}" class="img"></img></a>
                <span class="">User Account</span>
            </div>
        </div>
    </nav>
    <main>
      <div class="imgsec">
          <img src="{% static '/assets/p.png' %}"></img>
          <h2>{{ user.first_name}} {{ user.last_name }}</h2>
          <p>{{ user.email }}</p>
      </div>  
      <div class="formsec">
          <h1>Update Profile</h1>
          <div class="form">
              <form method="POST" action="profile"> 
               {% csrf_token %}
                  <label>First Name</label><br>
                  <input type="text" name="first_name" id="first_name" placeholder="Jacob" value={{user.first_name}}><br>
                  <!-- {{ form.first_name }} -->
                  <label>Last Name</label><br>
                  <input type="text" name="last_name" id="last_name" placeholder="Jones" value={{user.last_name}}><br>
                  <label>Username</label><br>
                  <input type="text" id="username" name="username" placeholder="Jones" value={{user.username}}><br>
                  <label>Email</label><br>
                  <input type="email" name="email" id="email" placeholder="jacob12jones@gmail.com" value={{user.email}}><br>
                  <input type="submit" class="submit" value="Update">
              </form>
          </div>
          <div class="lsec">
              <a href="#"><button class="btn">log out</button></a>
              <a href="#"><button>Delete account</button></a>
              <a href="#"><button>Reset password</button>
          </div></a>
      </div>
        
        
    </main>
    <footer>
        <div class="ft-logo">
            <p>Questions? Email us at support@78tcgen.com</p>
            <img src="{% static '/assets/Logo_white.svg' %}" alt="logo">
        </div>
        <div class="disclaimer-questions">
            <div class="footerlinks">
                <p>Disclaimer: Please note that legal information, including legal templates and legal policies, is not legal advice.
                    Information and services provided on the site are for informational and self-help purposes only and
                    are not to be a substitute for professional legal advice. <a href="#"> Read the full disclaimer.</a></p>
            </div>
            <div class="footer-txt">
               
                <ul>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href=""><span class="circle-divider"></span>Terms of Use</a></li>
                </ul>
                <p>78TC Gen &copy; <span id='year'></span>. All rights reserved.</p>
            </div> 
        </div>
    </footer>
</body>
</html>