<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5" style="width: 70%;">
        <div class="col">
            <h1 class="text-center">{{object.Your_Website_Name}}</h1>
            <hr>
            <div class="d-flex justify-content-center">
                <section>
                    <p>{{object.Your_Website_Url|linebreaks}}</p>
                </section>
            </div>
            <div>Author: <strong>{{object.country}}<strong><br>
                <small>Published: {{object.publish|date:"D, d M, y"}}</small>
            </div>
  
        </div>
    </div>
</body>
</html>