<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About</title>
</head>
<body>
<header> -->
    <!-- nav bar = contact page, registration page, login page -->
    <!-- <div class="containernb">
    <div class="logo">
        <a href="#"> <img src="logss.jpg" alt=""></a>
    </div>
    <ul class="links">
        <li><a href="contactme.html">Contact Page</a></li>
        <li><a href="account/register">Registration Page</a></li>
       <li><a href="account/login">Login Page</a></li>
       {% if user.is_authenticated %}
       <li><a href="account/logout">Logout </a></li>
       {% endif %}
    </ul>
    <button class="contactnb">
        About Us
    </button>

    {% if user.is_authenticated %}
    <a href="account/new">Generate</a>
    <a href="account/template">View Template</a>
    {% else %}
    <li>Create an account</li>
    {% endif %}
</div> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="./css/landing.css">
</head>
<body id="landing-pg">
    <header>
        <nav>
            <div class="mobile-menu">
                <img src="./assets/Logo.svg" alt="logo" class="" width="90px" height="39px">
                <a href="" class="hamburger" onclick="toggleMenu()">
                    <span class="bars"></span>
                    <span class="bars"></span>
                    <span class="bars"></span>
                </a>
            
            </div>
            <ul class="nav-links">
                <li><a href="#">Products</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <div class="nav-btns">
                <a href="#"><button class="btn-1">Login</button></a>
                <a href="#"><button class="btn-2">Get Started</button></a>
            </div>
           
        </nav>
    </header>
    <main>
        <section class="hero-section">
            <div class="hero-text">
                <h1>No more <br>legal hassles</h1>
                <p>78TC_GEN is an easy-to-use tool dedicated to establishing and maintaining your brand's Terms and Conditions and Privacy Policy in a centralized location.</p>
                <a href=""><button>Get Started</button></a>
            </div>
            <div class="hero-img">
                <img src="" alt="hero-page image">
            </div>
        </section>
        <section class="justification">
            <div class="just-text">
                <h2>Why you need Terms and conditions and Privacy Policies documentation</h2>
                <p>All websites interact with and collect data about their visitors in one way or another. This is even more applicable in the case of an e-commerce store. E-commerce sites typically collect personal data like names, email address, IP addresses, session activity and payment details, to name a few. For this reason, a privacy policy is vital as it protects website owners and customers alike, while also ensuring that your website complies with legal obligations.</p>
            </div>
        </section>
        <section class="our-services">
            <div class="services-container">
                <h2>Our Services</h2>
                <p class="desc">The easiest ways to create your own terms and conditions, or privacy policy for your website or app.</p>
                <div class="template-container">
                    <div class="template-card">
                        <img src="./assets/Tinder.svg" alt="">
                        <h3>Terms & Conditions <br> Generator</h3>
                        <p>The easy to use generator will help you craft professional legal working in minutes.</p>
                    </div>
                    <div class="template-card">
                        <img src="./assets/Tinder.svg" alt="">
                        <h3>Privacy Policy Generator</h3>
                        <p>The easy to use generator will help you craft professional legal working in minutes.</p>
                    </div>
                </div>
            </div>
            <div class="how-it-works">
                <h2>How it works?</h2>
                <p class="subheading">The easiest ways to create your own terms and conditions, or privacy policy for your website or app.</p>
                <div class="frame-container">
                    <div class="frame">
                        <img src="./assets/Ellipse 37.svg" alt="list image">
                        <p>Choose the type of business you are generating the t&c or privacy policy for</p>
                    </div>
                    <div class="frame">
                        <img src="./assets/Ellipse 37.svg" alt="list image">
                        <p>Give us your website details</p>
                    </div>
                    <div class="frame">
                        <img src="./assets/Ellipse 37.svg" alt="list image">
                        <p>Tell us the information you collect from your users</p>
                    </div>
                    <div class="frame">
                        <img src="./assets/Ellipse 37.svg" alt="list image">
                        <p>Generate your T&C</p>
                    </div>
                    <div class="frame">
                        <img src="./assets/Ellipse 37.svg" alt="list image">
                        <p>Preview before download</p>
                    </div>
                </div>
            </div>
            <a href="#"><button>Start Generating</button></a>
        </section>
        <section class="about-us">
            
            <div class="about-container">
                <div class="about-txt">
                    <h2>ABOUT US</h2>
                    <p>78TC_GEN is a website that creates Terms and Conditions and Privacy Policies for all kinds of businesses and individual purposes.
                        We make production of Terms and Conditions simple and accessible to businesses and individuals. <br><br> With the use of our services we enable millions of users around the globe equip themselves with practical and success-driven Terms and Condition and Privacy Policy that will aid their customers in understanding the dos and don’ts of their enterprises. <br> <br>With 78TC_GEN, Terms and Conditions and Privacy Policies can easily be downloaded, exported and shared without any struggle or hassles.</p>
                    <a href="#"><button>Start Generating</button></a>
                </div>
                <div class="about-img">
                    <img src="" alt="">
                </div>
            </div>
            
        </section>
        <section class="importance">
            <h2>WHY IS T & Cs IMPORTANT? </h2>
            <div class="importance-container">
                <div class="about-txt">
                    <p>Privacy Policies saves a lot of stress and headache. Imagine having to pay fines for not having a Privacy Policy. That is how important having a privacy policy is.
                    <br><br>If you have a website, app, ecommerce store or Saas app, chances are you need a Privacy Policy. Get caught without one and you risk some huge fines. But where do you start? If you're not a lawyer, it can feel like you're lost in some legal jargon and technical nonsense. That's where we come in. Try out our free and easy to use Privacy Policies with zero percent stress.
                </p>
                </div>
                <div class="importance-img">
                    <img src="" alt="">
                </div>
            </div>
            
        </section>
        <section class="unique">
            <h2>WHAT MAKES US UNIQUE? </h2>
            <div class="unique-container">
                <div class="unique-card a">
                    <div class="unique-img">
                    </div>
                    <h4>Easy to use</h4>
                    <p>We make the generation of of T& C easy by converting details  inputted by our users to build a suiting T&C or Privacy Policy template for diffrent business types.</p>
                </div>
                <div class="unique-card b">
                    <div class="unique-img">
                    </div>
                    <h4>constant updates</h4>
                    <p>Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium! Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium! Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="unique-card c">
                    <div class="unique-img">
                    </div>
                    <h4>manual and easy customization</h4>
                    <p>Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium! Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium! Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="unique-card d">
                    <div class="unique-img">
                    </div>
                    <h4>host policies</h4>
                    <p>Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium! Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium! Lorem ipsum dolor sit amet. </p>
                </div>
            </div>
            <a href=""><button>Get Started</button></a>
        </section>
        <section class="core-ft">
            <h2>SOME CORE FEATURES</h2>
            <div class="feature-con">
                <div class="ft-img">

                </div>
                <div class="ft-txt">
                    <h3>PRIVACY POLICY WITH GLOBAL COVERAGE</h3>
                    <p>
                        Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium! Qui molestiae reiciendis est consequuntur provident ad praesentium blanditiis ut iure deleniti At consequatur veritatis!
                        <br> <br>
                        Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium! Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium! 
                    </p>
                </div>
            </div>
            <h2>CUSTOM MADE T & Cs FOR ALL APPLICATIONS</h2>
            <div class="feature-con">
                <div class="ft-txt">
                    <h3></h3>
                    <p>
                        Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium! Qui molestiae reiciendis est consequuntur provident ad praesentium blanditiis ut iure deleniti At consequatur veritatis! <br><br>
                        Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium! Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium!
                    </p>
                </div>
                <div class="ft-img">

                </div>
            </div>
            <div class="feature-con">
                <div class="ft-img">

                </div>
                <div class="ft-txt">
                    <h3>DOWNLOAD YOUR PRIVACY POLICIES, T & Cs WITH EASE</h3>
                    <p>Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium! Qui molestiae reiciendis est consequuntur provident ad praesentium blanditiis ut iure deleniti At consequatur veritatis! <br><br>
                    Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium! Lorem ipsum dolor sit amet. Est doloribus labore et architecto expedita rem iure consectetur aut unde laudantium!</p>
                </div>
            </div>
            <div class="tpl-samples">
                <h3>SAMPLES OF OUR UNIQUE SERVICE</h3>
                <div class="tpl-wrapper">
                    <div class="tpl t-1">
                        Template <br>1
                    </div>
                    <div class="tpl t-2">Template <br>2</div>
                    <div class="tpl t-3">Template <br>3</div>
                    <div class="tpl t-4">Template <br>4</div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        FOOTER
    </footer>
    <script src="./JS/landing.js"></script>
</body>
</html>