<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About</title>
</head>
<body>
<header>
    <!-- nav bar = contact page, registration page, login page -->
    <div class="containernb">
    <div class="logo">
        <a href="#"> <img src="logss.jpg" alt=""></a>
    </div>
    <ul class="links">
        <li><a href="contactme.html">Contact Page</a></li>
        <li><a href="register.html">Registration Page</a></li>
       <li><a href="login.html">Login Page</a></li>
    </ul>
    <button class="contactnb">
        About Us
    </button>
</div>
<div class="heading">
<img src="picpic.jpg" alt="">
<h1>Faruq Olokunola </h1>
</div>
<hr>
</header>

<main>
    <p>
        I am a hardworking and ambitious young graduate looking to gain valuable work experience in a well-structured and challenging organization where my drive, initiative and skill will be nurtured and optimized, to provide quality service to clients and add value to the organization whilst improving my professional growth.
    </p>
    <p>
        Generally, i enjoy spending time with friends, listening to music, learning new things, watching football amongst other things. I run a business and i am also working on breaking into the tech world, making my business bigger and better my tech skills.
    </p>
    <p class="last">
        My top priorities in the nearest future include:
        <ul>
            <li>Building my business</li>
            <li>Taking my tech skills to the next level</li>
            <li>Learning Full Stack Development and Cloud Computing</li>
        </ul>
    </p>
    <button class="lst"><a href="contactme.html">Contact Me</a></button>
</main>
    


<footer>
    <b>Ruq Enterprises Inc <sup>c</sup></b>
</footer>
</body>
</html>