

.form{
    position: relative;
    top: 10px;
}
.label1{
    font-size: 18px;
    position: relative;
    top: 35px;
    
}
#email{
    width: 25rem;
    height: 30px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 3px;
    padding-left: 20px;
    position: relative;
    top: 40px;
    box-shadow: 2px 3px 3px 2px rgb(212, 211, 211);
}


.label3{
    font-size: 18px;
    position: relative;
    top: 10px;
    
}
#name{
    width: 25rem;
    height: 30px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 3px;
    padding-left: 20px;
    position: relative;
    top: 13px;
    box-shadow: 2px 3px 3px 2px rgb(212, 211, 211);
}

.label2{
    font-size: 18px;
    position: relative;
    top: 65px;
}
#password{
    position: relative;
    top: 70px;
    padding-left: 20px;
    width: 25rem;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 3px;
    color: black;
    box-shadow: 2px 3px 3px 2px rgb(212, 211, 211)
}

.btnsign{
    position: relative;
    top: 110px;
    
    padding: 7px 187px 7px 187px;
    font-size: 16px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
}

.secondpart{
    width: 30.5vw;
    height: 33vh;
    position: relative;
    top: 84px;
    left: 4px;
    text-align: center;
}

.or{
    position: relative;
    top: 50px;
    font-size: 12px;
    font-weight: bold;
}

.with{
    position: relative;
    top: 20px;
}

.ops{
    
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 70px;
}
.op{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: rgb(194, 189, 189);
}

.op1{
    position: relative;
    left: 50px;
}
.op2{
    position: relative;
    right: 50px;
}

.last{
    position: relative;
    top: 100px;
    font-size: 12px;
}

.li{
    color: black;
}

